
# misc
alias c='clear'
command -v zsh > /dev/null 2>&1 \
  && alias ranger='SHELL=zsh ranger'  # bypass default shell so that ranger uses zsh
# alias ranger='source ranger'  # makes shell "follow" ranger, i.e. after closing ranger stay in that directory
alias sudo='sudo '  # pass aliases when using sudo

# containers (docker is dead, long live podman)
command -v podman > /dev/null 2>&1 \
  && alias docker='podman'

# ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# git
alias gl='git log --graph --oneline'
alias gla='gl --all'
alias gs='git status'
alias gf='git fetch --all --prune'
alias gp='git pull --ff-only'
alias gd='git diff'
alias ga='git add'
alias gc='git commit'

# terraform
alias t='terraform'
alias ti='t init'
alias ta='t apply'
alias tay='ta --auto-approve'
alias tia='ti && ta'
alias to='t output'
alias tf='t fmt'
alias tfr='tf -recursive'

# vim
command -v nvim > /dev/null 2>&1 \
  && alias vim='nvim'

# feh (image viewer)
alias feh-basic='feh --auto-zoom --full-screen --auto-rotate'
alias feh-slideshow='feh-basic --slideshow-delay 5'

# lens ("Kubernetes IDE")
command -v open-lens > /dev/null 2>&1 \
  && alias lens='open-lens'

# netcat
command -v ncat > /dev/null 2>&1 \
  && alias nc='ncat'
