"" IdeaVim doesn't seem to support 'filereadable' but sourcing non-existing file doesn't seem to cause problems
" if filereadable(expand("~/.vimrc.common"))
"   source ~/.vimrc.common
" endif
source ~/.vimrc.common

set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=2
set number relativenumber


set incsearch
" smartcase needs ignorecase
set ignorecase smartcase



set visualbell
set noerrorbells

set NERDTree


" ==== PyCharm-specific commands ==============================================

" NOTE: to find actions, run SearchEverywhere and enable 'IdeaVim: Track Action Ids'
" TODO: figure out how to define all available key mappings in .vimrc.common ??

nmap <leader>s <Action>(SearchEverywhere)


" Refactor commands
nmap <leader>ri <Action>(Inline)
nmap <leader>rr <Action>(RenameElement)
nmap <leader>rm <Action>(Move)
nmap <leader>rfs <Action>(ReformatCode)


" Goto commands
nmap <leader>gd <Action>(GotoDeclaration)


" TODO: (un)comment line/block


"set number
"set relativenumber

"set clipboard+=unnamedplus
